// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

:root {
  --html-fs: 1px;
  --DM: "DM Sans", sans-serif;
  --Rubik: "Rubik", sans-serif;
  --transition: 0.2s all ease-in-out;

 
  --Rubik-20: 500 20px / normal var(--Rubik);

  --DM-14: 500 14px / normal var(--DM);
  --DM-15: 500 15px / normal var(--DM);
  --DM-16: 500 16px / normal var(--DM);
  --DM-58: 700 58px / normal var(--DM);
}
$white: #FFF;
$white-1: #f9fafb;
$white-2: #E5E7EB;
$text-shadow-1: 0px 4px 4px rgba(0, 0, 0, 0.07);



