.OurService {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font: var(--DM-42);
    margin-bottom: 30px;
  }
  &__informations {
    max-width: 587px;
    color: $white;
    margin-inline: auto;
    text-align: center;
    font: var(--DM-16-4);
    line-height: 26px;
    margin-bottom: 40px;
  }
  &__sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 23px;
    max-width: 370px;
    flex-shrink: 0;
    border-radius: 34px;
    border: $border-1;
    background: $background-1;
  }
  .svg {
    display: inline-block;
    outline: 0;
    border: 0;
    padding: 18px;
    border-radius: 55px;
    margin-bottom: 19px;
  }
  &__sections-svg1 {
    background: $svg1;
  }
  &__sections-svg2 {
    background: $svg2;
  }
  &__sections-svg3 {
    background: $svg3;
  }
  &__sections-svg4 {
    background: $svg4;
  }
  &__sections-svg5 {
    background: $svg5;
  }
  &__sections-svg6 {
    background: $svg6;
  }
  &__sections-title {
    margin-inline: auto;
    color: $white;
    font: var(--DM-24);
    margin-bottom: 17px;
  }
  &__sections-info {
    color: $white;
    font: var(--DM-16-4);
    margin-bottom: 17px;
    line-height: 26px;
  }
  &__sections-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__sections-learn {
    color: $white;
    font: var(--DM-16-4);
  }
}
