.zone-header {
  display: flex;
  padding-top: 43px;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    gap: 20px;
    flex-direction: column;
  }

  &__logo {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  &__navigation {
    display: flex;
    gap: 60px;
    align-items: center;

    @include desktop-small {
      gap: 40px;
    }
  }
  .color {
    color: $white-1;
    font: var(--DM-14);
    transition: var(--transition);

    &:hover {
      padding: 10px;
      box-shadow: 0 0 10px $white-1;
      border-radius: 5px;
    }
  }
  .btn {
    padding: 12px 24px;
    border-radius: 5px;
    background: $background-6;
  }
  &__zone {
    color: $white;
    font: var(--Rubik-20);
  }
}
