.zone-header {
  display: flex;
  gap: 418px;
  padding-top: 43px;

  &__logo {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  &__navigation {
    display: flex;
    gap: 60px;
    align-items: center;
  }
  .color {
    color: $white-1;
    font: var(--DM-14);
  }
  .btn {
    padding: 12px 24px;
    border-radius: 5px;
    background: var(
      --Gardient,
      linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%)
    );
  }
  &__zone {
    color: $white;
    font: var(--Rubik-20);
  }
}
